// @import "bootstrap/bootstrap/_variables.scss";
// @import "bootstrap/bootstrap/_mixins.scss";
// @import "bootstrap/bootstrap/_grid.scss";

$h1: 4rem;
$h2: 3rem;
$h3: 2rem;
$h4: 1.5rem;
$h5: 1rem;
$h6: 0.5rem;

@import "components/_grid.scss";
@import "components/_topBar.scss";

@import "branding/_typography.scss";

body {
	margin:0;
	overflow-x: hidden;
	background: rgb(241, 241, 241);
}



.panel {
	width: auto;
	padding: 10px;
	background: white;
	margin: 10px;
}



