<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<link rel="stylesheet" href="/static/generated/style.css" />
		<!-- <link rel="stylesheet" href="/static/vendor/materialize.min.css" /> -->
	</head>
	<body>
		<div class="header">
			<div class="section-left logo">ShitStack</div>
			<div class="section-middle"></div>
			<div class="section-right button-size">Test</div>
			<div class="section-right button-size">Jobs</div>
		</div>
		<div class="body">
			<div class="filler"></div>
			<div class="content-container">
				{% block 'body' %}
				{% endblock %}
			</div>
			<div class="filler"></div>
		</div>
	</body>
</html>